:root {
  --a-celeste: #46a1f0;
  --a-marino: #092054;
}

@import url('https://fonts.cdnfonts.com/css/neometric-2');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Neometric Alt', sans-serif;

}

.row {
  --bs-gutter-x: 0.9rem !important;
}

.form-group {
  padding-bottom: 0.9rem;
  /*  Ajusta el valor de padding según tus preferencias */
}

.row {
  min-height: 20px;
}

.bg-marino {
  background-color: var(--a-marino);
}

.bg-celeste {
  background-color: var(--a-celeste);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**/
.box-form-p1 {
  padding: 2rem;
  color: #fff;
  min-height: 23rem;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.calendar {
  width: 300px;
  height: 300px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin: 1rem;
  font-size: 11px;
}

#current-month {
  font-size: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#calendar-body {
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 4px;
  font-size: 14px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #092054;
}

.date-picker {
  display: inline-block;
  position: relative;
}

.date-picker input[type="date"] {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.date-picker input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

td {
  cursor: pointer;
}

td.selected {
  background-color: #092054;
  color: #fff;
}

/**/
/* INICIO MENU*/

.nav-item {
  position: relative;
  padding: 0.3rem;
  overflow: hidden;
  background-color: var(--a-marino) !important;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #091f5400;
  z-index: -1;
  /* Colocamos el pseudo-elemento detrás del contenido */
}

@media (max-width: 620px) {
  .nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9, 31, 84, 0.747);
    backdrop-filter: blur(10px);
    z-index: -1;
    /* Colocamos el pseudo-elemento detrás del contenido */
  }
}

.nav-link {
  position: relative;
  /* Aseguramos que el texto se muestre encima del pseudo-elemento */
  color: #0d1f44 !important;
  /* Ajusta el color del texto según tus preferencias */
  /*text-shadow:  2px 2px 5px #092054, -2px -2px 5px #092054, -2px 2px 5px #092054, 2px -2px 5px #092054;
  /*font-weight: bold;
  padding-right: 0!important;*/
  background-color: #cecece !important;
  border-bottom: 1px solid #00df1a00 !important;
}

.nav-tab.nav.nav-tabs {}

.nav-flights-box {
  background-color: rgba(161, 54, 54, 0);
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.nav-flights-box-son {
  background-color: #ffffff;
  min-height: 150px;
  width: 90%;
  border-radius: 23px;
  margin-bottom: 6rem;
}

.nav-flights-box_select-box {
  background-color: rgba(255, 0, 221, 0);
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.tab-content {
  border-radius: 10px;
}

.nav-flights-box_select {
  background-color: rgba(0, 0, 255, 0);
  width: 150px;
  min-height: 50px;
  border-radius: 10px;
  margin: 0 0.5rem 0 0.5rem;
}

.bootom-nav-flights-box_search {
  background-color: rgb(255, 255, 255);
  height: auto;
  display: flex;
  padding-left: 0%;
  padding-right: 0%;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.bootom-nav-flights-box_search-section {
  background-color: var(--a-celeste);
  height: 50px;
  min-width: 150px;
  border-left: solid #fff 0.5px;

}

#myNavbar {
  /*background-color: #e3f2fd09;
  position: relative;*/
  z-index: 2;
  /* Valor alto para asegurarse de que la barra de navegación esté en frente */
}

main {
  position: absolute;
  top: 0px;
  z-index: 1;
  /* Valor menor para que el contenido esté detrás de la barra de navegación */
}

.navbar {
  background-color: var(--a-marino);
  transition: background-color 0.5s ease;
  border-bottom: none;
  /* Removemos el borde inferior predeterminado */
}

.navbar.white-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar.scrolled {
  background-color: rgba(0, 128, 0, 0);
}

.yellow-section {
  /*
  background-color: rgba(255, 255, 0, 0.507);
  margin-bottom: 1rem;*/
}

.img-nav {
  width: 40px;
}

.img-nav-lg {
  width: 80px;
}

/* FIN MENU */
.box-fecha-hora {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.option-hora {
  background-color: #cccccc;
  height: 2rem;
  margin: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.select-hora {
  height: 300px;
  width: 300px;
  margin: 1rem;
}

.btn-cita {
  margin-top: 1rem;
  width: 96%;
  background-color: black;
  border: black 1px solid;
}

.active {
  background-color: var(--a-marino) !important;
  color: #fff !important;
}

.resumen-box {
  background-color: #CECECE;
  height: 10rem !important;
}


/*
TICKET
*/
.ticket {
  width: 300px;
  height: 400px;
  background-color: rgb(255, 249, 240);
  border-radius: 10px;
  border: 1px solid rgba(94, 94, 100, 0);
  box-shadow: white 1px;
  margin: 1rem;
}

h4 {
  font-size: 20px;
}

.ticket-text {
  font-size: 12px !important;
  font-family: Arial, Helvetica, sans-serif !important;

}

.sinSeleccionar {
  width: auto;
  color: #ca0000 !important;
  font-size: 12px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.ticket-top {
  height: 230px;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 100, 0, 0);

  color: #000;

  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif !important;

}

.bolias-cortes {
  background-color: rgba(255, 99, 71, 0);
  height: 40px;
}

.ticket-bottom {
  height: 130px;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 100, 0, 0);
  color: #000;
  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  z-index: 1;
}

.ticket-logo {
  height: 100px;

}

.box-fecha {
  width: auto;
}

.bolita-r {
  margin-right: 1px;
  width: 40px;
  height: 40px;
  background-color: var(--a-marino);
  border-radius: 30px;
  border: 1px solid rgba(94, 94, 100, 0);
  position: relative;
  left: -23px;
  top: 0px;
}

.bolita-l {
  width: 40px;
  height: 40px;
  background-color: var(--a-marino);
  border-radius: 30px;
  border: 1px solid rgba(94, 94, 100, 0);
  position: relative;
  right: -280px;
  top: -75px;
}

.cortes {
  height: 3px !important;
  width: 300px;
  border: none;
  border-top: 3px dotted var(--a-marino);
  position: relative;
  top: -38px;
  opacity: 1 !important;
  background-color: #00df1a00 !important;
}


.btn-masPasajero {
  margin: 0.5rem;
  background-color: #04a00400 !important;
  border: #ffffff solid 2px !important;
  color: #ffffff;
  width: 250px;
}

.btn-masPasajero:hover {
  margin: 0.5rem;
  background-color: #208320a1 !important;
  border: #ffffff solid 2px !important;
  color: #ffffff;
}

.btn-quitarPasajero {

  background-color: #04a00400 !important;
  border: #ffffff solid 2px !important;
  margin: 0.5rem;
  color: #ffffff;
  width: 250px;
}

.btn-quitarPasajero:hover {

  background-color: #832020a1 !important;
  border: #ffffff solid 2px !important;
  margin: 0.5rem;
  color: #ffffff;
}

.btn-cita {
  margin: 1rem;
  background-color: #04a00400 !important;
  border: #ffffff solid 2px !important;
  color: #ffffff;
  width: 300px;
}
.btn-cita:hover  {
  margin: 1rem;
  background-color: #208320a1 !important;
  border: #ffffff solid 2px !important;
  color: #ffffff;
}